/* Styling the overlay to cover the entire screen and apply a blur effect */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5); /* A semi-transparent background */
    backdrop-filter: blur(10px); /* This will blur the content behind */
    z-index: 999; /* Lower z-index than the card to stay behind it */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Styling the card to appear above the overlay */
  .card {
    width: 60%;
    background-color: var(--primary_color); /* Making the card slightly transparent */
    border-radius: 20px;
    /* box-shadow: 0px 0px 20px 0px rgba(218, 218, 218, 0.4); */
    z-index: 1000; /* Higher z-index to appear above the overlay */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 20px;
    gap: 20px;
  }
  .closebutton {
    width: 30%;
    height: 5vh;
    font-size: 20px;
    background-color: #F5EDED;
    border: none;
    border-radius: 10px;
    color: var(--primary_color);
    font-weight: 600;
  }
  .header {
    font-family: Krona One, Helvetica, sans-serif; /* Equivalent to font-sans */
    color:#F5EDED;
    margin-bottom: 0;
  }
  .content {
    width: 90%;
    height: 60vh;
    background-color: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-bottom: 0%;
    border-radius: 20px;
  }
  .arrows {
    margin-top: 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .right-button {
    background: none; /* Removes the default grey background */
    border: none;
    outline: none;
    height: 4vh;
    width: 4vh;
    background-image: url("../../assets/rightArrow.svg");
    background-size: contain; /* Adjusts the image size */
    background-repeat: no-repeat; /* Prevents the image from repeating */
  }
  .right-button:hover {
    transform: scale(1.1); /* Slightly increases size on hover */
  }
  .left-button {
    background: none; /* Removes the default grey background */
    border: none;
    outline: none;
    height: 4vh;
    width: 4vh;
    background-image: url("../../assets/leftArrow.svg");
    background-size: contain; /* Adjusts the image size */
    background-repeat: no-repeat; /* Prevents the image from repeating */
  }
  .left-button:hover {
    transform: scale(1.1); /* Slightly increases size on hover */
  }
  .images {
    height: 77%;
    width: 89%;
    opacity: 1;
    transition: scale 1s;
    border-radius: 20px;
    border: solid #E2DAD6 10px;

  }
  .images:hover {
    scale: 1.02;
    }
  .pagetext {
    color: #D9D9D9
  }
  